<div fxLayout="column" fxFlex>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>NSClient++</span>

      <span fxFlex></span>
      <button mat-icon-button [matMenuTriggerFor]="themeMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <!--app-nav></app-nav-->

    <mat-sidenav mode="side" opened>
      <mat-tab-group>
        <mat-tab label="Users">
          <mat-nav-list>
            <mat-list-item>
              <mat-icon>home</mat-icon>
              <span>Modules</span>
            </mat-list-item>
            <mat-list-item>
              <span>Queries</span>
            </mat-list-item>
          </mat-nav-list>
        </mat-tab>
        <mat-tab label="Settings">
          <span>Settings</span>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav>


    <mat-sidenav-content fxLayout="row" fxLayout.sm="column" fxLayoutGap="16px">
        <!--router-outlet *ngIf="isOnline;else isOffline"></router-outlet-->
          <mat-card fxFlex="80">
            <mat-card-header>
              <mat-icon>home</mat-icon>
              <h2>AA</h2>
            </mat-card-header>
            <mat-card-content>
              <p>BB</p>
            </mat-card-content>
          </mat-card>
          <mat-card fxFlex fxLayout="column" fxLayoutGap="14px">
            CC
          </mat-card>
    </mat-sidenav-content>

  </mat-sidenav-container>
<!--
  <mat-menu #themeMenu x-position="before">
    <button mat-menu-item (click)="isDarkTheme = !isDarkTheme">Toggle Theme</button>
  </mat-menu>

  <button mat-fab (click)="openAdminDialog()" class="fab-bottom-right">
    <mat-icon>add</mat-icon>
  </button>
-->

</div>
<!--app-footer></app-footer-->
